@page "/signin/{username}"
@using System.Security.Claims

<h3>Đăng nhập thành công</h3>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }
	[Parameter] public string? username { get; set; }

	protected async override Task OnInitializedAsync()
	{
		User user = context.Users.FirstOrDefault(u => u.Username == username);
		AppState.SetCurrentUser(user);
		var claims = new List<Claim>
		{
			new Claim(ClaimTypes.Name, username),
			new Claim(ClaimTypes.Sid, user.Id),
			new Claim(ClaimTypes.Role, "Admin")
		};

		var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
		var principal = new ClaimsPrincipal(identity);
		await HttpContext.SignInAsync(principal);
		await Task.Delay(1000);
		NavigationManager.NavigateTo($"/dashboard/{user.Id}", forceLoad: true);
	}
}
