@page "/logout"

<h3>Logout</h3>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnParametersSetAsync();
		if(HttpContext.User.Identity.IsAuthenticated)
		{
			await HttpContext.SignOutAsync();
			NavigationManager.NavigateTo("/login", true);
		}
	}
}
