@page "/editor"

<PageTitle>Editor</PageTitle>

<div class="grid grid-cols-12 h-screen">
	<div class="col-span-10">
		<LumexTextbox Type="@InputType.Text"
					  Label="Tiêu đề"
					  Placeholder="john@doe.com"
					  Class="w-full" />
		<EditorTool />
	</div>
	<EditorSidebar />
</div>

