@page "/view/{id}"

<div class="grid grid-cols-12 dark:bg-[#282135] bg-gray-100 h-full">
	<ViewDetailContent id="@id" />
	<ViewSidebar />
</div>

@code {
	[Parameter] public string id { get; set; }
}
