@page "/view"
@rendermode InteractiveServer

<PageTitle>View</PageTitle>

<div class="grid grid-cols-12 dark:bg-[#282135] bg-gray-100 h-full">
	<ViewContent />
	<ViewSidebar />
</div>

@code {
	private string currentUserId;
	private DiaryContext context = new DiaryContext();

	protected async override void OnInitialized()
	{
		if(AppState.CurrentUser == null)
		{
			currentUserId = await JSRuntime.InvokeAsync<string>("createOrGetAnonymousUser");
			User user = context.Users.Find(currentUserId);
			if(user == null)
			{
				user = new User();
				Random random = new Random();
				user.Id = currentUserId;
				user.Username = "user" + random.Next(100000, 1000000);
				context.Users.Add(user);
				context.SaveChanges();
			}
			AppState.CurrentUser = user;
		}
	}
}