@inherits LayoutComponentBase

<LumexThemeProvider />
<div class='font-inter dark:text-white'>
	<NavMenu />
	<div class="h-screen">
		@Body
	</div>
</div>
<ToastContainer />

@code
{
	private bool _darkMode = false;

	private void HandleDarkModeToggled(bool isDarkMode)
	{
		_darkMode = isDarkMode;
	}

	protected override void OnInitialized()
	{
	}
}