<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="diary_blazor_web.styles.css" />
	<link rel="icon" type="image/png" href="favicon.png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
	<link rel="stylesheet" href="css/output.css" />

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PV1G0fQNHSOD2xbE+QkPXCAFINEevoEHзSlesibVcOQVnN" crossorigin="anonymous">

	<link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
	<HeadOutlet />
</head>

<body>
	<Routes />
	<script src="./js/anonymousUser.js"></script>
	<script src="_content/LumexUI/js/LumexUI.js" type="module"></script>
	<script src="_framework/blazor.web.js"></script>
	<script src="https://cdn.tiny.cloud/1/z47v9wd05qdjuz0trbntcnu6p9rv3qyozy8s68xlf939i2o3/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="js/tinyMceConf.js"></script>
	<script src="js/common.js"></script>
</body>

</html>
