
<div class="col-span-3 border-l border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 p-4 flex flex-col">
	<div class="flex flex-col gap-4">
		<div class="dark:bg-gray-900 bg-white rounded-lg shadow-lg">
			<div class="flex flex-col gap-2 p-5">
				<div class="flex gap-2 items-start text-xl font-bold">
					<i class="fa-solid fa-user"></i>
					About
				</div>
				<div class="text-sm text-gray-500">
					Welcome to my personal space where I share daily thoughts, experiences, and reflections. Join me on this journey of self-discovery and mindful living.
				</div>
			</div>
		</div>
	</div>
</div>