@using LumexUI.Common;

<div class="col-span-3 border-l border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 p-4 flex flex-col gap-4">
	<LumexCard Class="max-w-sm">
		<LumexCardHeader Class="justify-between">
			<div class="flex gap-2 items-start text-xl font-bold">
				<i class="fa-solid fa-user"></i>
				About
			</div>
		</LumexCardHeader>
		<LumexCardBody>
			<div class="text-sm text-gray-500">
				Chào mừng bạn đến với không gian cá nhân của tôi, nơi tôi chia sẻ những suy nghĩ, trải nghiệm và chiêm nghiệm hàng ngày. Hãy cùng tôi trên hành trình khám phá bản thân và sống chánh niệm.
			</div>
		</LumexCardBody>
	</LumexCard>
	<LumexCard Class="max-w-sm">
		<LumexCardHeader Class="justify-between">
			<div class="flex gap-2 items-start text-xl font-bold">
				<i class="fa-solid fa-user"></i>
				Nhãn
			</div>
		</LumexCardHeader>
		<LumexCardBody>
			<div class="flex flex-col gap-2 max-h-60 overflow-y-auto">
				<div class="flex justify-between" @onclick="() => OnHandleFilterTag.InvokeAsync()">
					<div class="px-3 py-1 rounded-full bg-gray-300 text-xs font-semibold cursor-pointer hover:scale-105">Tất cả</div>
					<div>@allDiaries.Count</div>
				</div>
				@foreach (Tag tag in allTags)
				{
					<div class="flex justify-between" @onclick="() => OnHandleFilterTag.InvokeAsync(tag.Id)">
						<div class="px-3 py-1 rounded-full bg-gray-300 text-xs font-semibold cursor-pointer hover:scale-105"><i class="fa-solid fa-tags"></i> @tag.Name</div>
						<div>@tag.Diaries.Count</div>
					</div>
				}
			</div>
		</LumexCardBody>
	</LumexCard>

</div>

@code {
	// DiaryContext context = new DiaryContext();
	[Parameter] public EventCallback OnHandleFilterTag { get; set; }
	List<Diary> allDiaries = new List<Diary>();
	List<Tag> allTags = new List<Tag>();

	protected override void OnInitialized()
	{
		allDiaries = context.Diaries.ToList();
		allTags = context.Tags.Include(t => t.Diaries).ToList();
	}
}